<html>
<head>
    <style>
     table {
        border-spacing: 3px;
        width:auto;
     }
     td {
        border: none;
        padding: 2px;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
     }
     .blue {
        background-color: #3d8bcd;
        color: #ffffff;
        font-weight: bold;
     }
     .grey {
        background-color: #e6e6e6;
        color: #4d4d4d;
        font-weight: bold;
     }
     .comment{
        padding: 10px;
        color: #5c5c5c;
        background-color: #f8f8f8;
        text-align: left;
     }
     .author{
        text-align: right;
        padding: 10px;
     }
     span a {
        color: #ffffff!important;
        text-decoration: none!important;
     }
     a:hover{
        text-decoration: underline!important;
     }
     .f1{
        text-transform: uppercase;
     }
    </style>
</head>
<body>
    <table>
        {% for result in results %}
        <tr>
            <td class="blue">
                <span>
                    <a href="{{ result.project_url }}" class="f1">{{ result.project_name }}:</a>
                    <a href="{{ result.url }}">{{ result.title }}</a>
                </span>
            </td>
            <td class="grey author">Author: {{ result.user }}</td>
            <td class="blue">Opened: {{ result.time | formatduration }} ago</td>
        </tr>
        {% if show_last_comment %}
        <tr>
            <td class="grey">
                #Comments: {{ result.comments }}
            </td>
            {% if result.last_comment %}
                <td class="comment">
                    {{ result.last_comment.author }}: {{ result.last_comment.body }}
                </td>
                <td class="grey">
                    Commented: {{ result.last_comment.created_at | formatduration }} ago
                </td>
            {% else %}
                <td class="comment">No comment for this Merge Request</td>
                <td class="grey">Commented: None</td>
            {% endif %}
        </tr>
        {% endif %}

        {% endfor %}
    </table>
</body>
</html>
